useDynLib(alphashape3d)


export(ashape3d)
export(components_ashape3d)
export(inashape3d)
export(plot.ashape3d)
export(rtorus)
export(surfaceNormals)
export(volume_ashape3d)
S3method(plot,ashape3d)